<div class="container-fluid" style="height: 100vh;">
  <div class="row" style="height: 100vh;">
    <div class="col-6">
      <h1 style="text-align: center;"><%= icon('fa', 'plane', class: 'header-icon') %></h1>
      <div id="question-container">
        <h2 class="question-header"> Question <%= @question.position %> </h2>
        <p class="question-text"><%= @question.question %></p>
        <% if @question.id == 1 %>
          <div class="row-fluid form-group">
            <button type="button" class="btn question-button btn-toggle" onclick="toggleButton(this, 'international = true', <%= @question.id.to_json %>)" data-toggle="button" aria-pressed="false" autocomplete="off">International</button>
          </div>
          <div class="row-fluid form-group">
            <button type="button" class="btn question-button btn-toggle" onclick="toggleButton(this, 'domestic = true', <%= @question.id.to_json %>)" data-toggle="button" aria-pressed="false" autocomplete="off">Domestic</button>
          </div>
        <% elsif @question.id == 5 %>
          <div class="row-fluid form-group">
            <button type="button" class="btn question-button btn-toggle" onclick="toggleButton(this, '0-3 days', <%= @question.id.to_json %>)" data-toggle="button" aria-pressed="false" autocomplete="off">0-3 days</button>
          </div>
          <div class="row-fluid form-group">
            <button type="button" class="btn question-button btn-toggle" onclick="toggleButton(this, '4-7 days', <%= @question.id.to_json %>)" data-toggle="button" aria-pressed="false" autocomplete="off">4-7 days</button>
          </div>
          <div class="row-fluid form-group">
            <button type="button" class="btn question-button btn-toggle" onclick="toggleButton(this, '8-14 days', <%= @question.id.to_json %>)" data-toggle="button" aria-pressed="false" autocomplete="off">8-14 days</button>
          </div>
            <div class="dropdown">
              <button class="btn question-button dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                14+ days
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><h6 class="dropdown-header">Is there a washer/dryer?</h6></li>
                <li><button type="button" class="btn dropdown-item" onclick="toggleButton(this, 'Washer/Dryer', <%= @question.id.to_json %>)" data-toggle="button" aria-pressed="false" autocomplete="off">Yes</button></li>
                <li><button type="button" class="btn dropdown-item" onclick="toggleButton(this, 'No Washer/Dryer', <%= @question.id.to_json %>)" data-toggle="button" aria-pressed="false" autocomplete="off">No</button></li>
              </div>
            </ul>
        <% else %>
          <% unless @choices.nil? %>
            <% @choices.each do |choice| %>
              <% if choice["#{@table_name}"] == 'Airplane' %>
                  <div class="dropdown">
                    <button class="btn question-button dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      Airplane
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li><h6 class="dropdown-header">What type of flight?</h6></li>
                      <li><button type="button" class="dropdown-item" onclick="toggleButton(this, '<%= "#{@table_name}_id = #{@table.find_by(@table_name.to_s => choice["#{@table_name}"]).id.to_s} AND normal = true".to_json %>', <%= @question.id.to_json %>)" data-toggle="button" aria-pressed="false" autocomplete="off">Under 5 Hours</button></li>
                      <li><button type="button" class="dropdown-item" onclick="toggleButton(this, '<%= "#{@table_name}_id = #{@table.find_by(@table_name.to_s => choice["#{@table_name}"]).id.to_s}".to_json %>', <%= @question.id.to_json %>)" data-toggle="button" aria-pressed="false" autocomplete="off">Over 5 Hours / Redeye</button></li>
                    </ul>
                  </div>
              <% else %>
                <div class="row-fluid form-group">
                  <button type="button" class="btn question-button btn-toggle" onclick="toggleButton(this, '<%= "#{@table_name}_id = #{@table.find_by(@table_name.to_s => choice["#{@table_name}"]).id.to_s}".to_json %>', <%= @question.id.to_json %>)" data-toggle="button" aria-pressed="false" autocomplete="off"><%= choice["#{@table_name}"] %></button>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div style="text-align: center;position: fixed; bottom: 0; width: 50%">
        <span>
          <%= link_to(icon('fas', 'angle-double-left', class: 'page-arrow'), @question.previous) if @question.previous %>
          <span id="page-footer"><%= @question.position %> of <%= Question.count %></span>
          <%= link_to(icon('fas', 'angle-double-right', class: 'page-arrow'), @question.next) if @question.next %>
          <%= link_to("Finish", {:controller => :answers, :action => :index}, id: 'page-footer') if @question.next.nil? %>
        </span>
      </div>
    </div>
    <div id="packing-list-container" class="col-6" style="height: 100%">
      <h1 style="text-align: center;"><%= icon('fas', 'luggage-cart', class: 'header-icon') %></h1>
      <div class="outer"><iframe title="Packing List" id="packing_list" width="100%" frameborder="0" allowtransparency="true" onload="resizeIframe(this)" src="/answers?iframe=true"></iframe></div>
    </div>
  </div>
</div>
