<div class="container-fluid" style="height: 100vh; background-color:transparent">
  <% unless params[:iframe] %>
    <h1 style="text-align: center;"><%= icon('fas', 'luggage-cart', class: 'header-icon') %></h1>
    <div id="packing-container-index">
    <% else %>
      <div id="packing-container">
      <% end %>
      <p>
        <% unless @combined_list.nil? %>
          <% @combined_list.keys.each do |key| %>
            <div>
              <span>
                <h4 id="category-header">
                  <% case key %>
                  <% when :clothing %>
                  <%= icon('fas', 'tshirt', class: 'header-icon') %>
                  <% when :electronics %>
                  <%= icon('fas', 'laptop', class: 'header-icon') %>
                  <% when :toiletries %>
                  <%= icon('fas', 'tooth', class: 'header-icon') %>
                <% else %>
                  <%= icon('fas', 'shopping-bag', class: 'header-icon') %>
                <% end %>
                <%= key.upcase %>
              </h4>
            </span>
          </div>
          <% @combined_list[key].each do |item| %>
            <div class="row">
              <div class="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <label class="form-check-label packing-item">
                    <%= item %>
                  </label>
                  <% unless params[:iframe] %>
                    <div class="d-inline">
                      <button class="btn-link" id="trash-icon" onclick="deleteItem(this)"><%= icon('fa', 'trash') %></button>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </p>
  </div>
  <% unless params[:iframe] %>
    <%= button_to 'Restart', questions_path, method: :get, class: "btn question-button btn-toggle", form: {id:  "restart-button"} %>
  <% end %>
</div>
