<div class="container-fluid" style="height: 100vh;">
  <h1 style="text-align: center;"><%= icon('fas', 'luggage-cart', class: 'header-icon') %></h1>
  <div id="packing-container" class="px-5 py-4">
  <p>
    <% unless @combined_list.nil? %>
        <% @combined_list.keys.each do |key| %>
          <!--<% if !@combined_list[key].empty? %>-->
            <div>
              <h4>
              <% case key %>
              <% when :clothing %>
                <%= icon('fas', 'tshirt', class: 'header-icon') %>
              <% when :electronics %>
                  <%= icon('fas', 'laptop', class: 'header-icon') %>
              <% when :toiletries %>
                  <%= icon('fas', 'tooth', class: 'header-icon') %>
              <% else %>
                  <%= icon('fas', 'shopping-bag', class: 'header-icon') %>
              <% end %>
              <%= key.upcase %>
              </h4>
            </div>
          <!--<% end %>-->
          <% @combined_list[key].each do |item| %>
          <div class="row">
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" />
                <label class="form-check-label packing-item">
                  <%= item %>
                </label>
                <% unless params[:iframe] %>
                    <div class="d-inline">
                      <button class="btn-link" style="border: none; color: red;" onclick="deleteItem(this)">X</button>
                    </div>
                <% end %>
              </div>
      <% end %>
      <% end %>
  <% end %>
  </p>
  </div>

  <%= link_to 'Restart', questions_path unless params[:iframe] %>
</div>
<script>
    $.ajaxSetup({
        headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        }
    });

    function deleteItem(button) {
        inline = button.parentNode
        formCheck = inline.parentNode
        col = formCheck.parentNode
        col.removeChild(formCheck)
        item = formCheck.getElementsByClassName("form-check-label")[0].textContent
        $.post( "/answers/remove", { item: item} )
    }
</script>
